/* Start Header Styles */
header, footer {
  padding-top: 1rem;
  color: white;
  background-color: black;
  clear: both;  
  text-align: center;
  position: relative; 
  float: none; 
  font-family: 'Bangers', cursive;
}

.topheader {
  font-size: 3rem;
}

nav {
  display: block;
  float: left;  
  max-width: 160px;
  margin: 0;
  padding: 1rem;
  font-size: 1.25rem; 
}

ul.topnav {
  list-style-type: none;
  margin: 0;
  overflow: auto; 
  background-color: white; 
}

ul.topnav li {
  float: inherit; 
  display: inline-block; 
  color: black;
  padding: 1rem; 
  font-size: 1.25rem; 
}

ul.topnav li a {
  color: black; 
  text-align: center; 
  padding: 1rem; 
  text-decoration: none; 
  font-size: 1.25rem;
}

ul.topnav li a:hover{
  color: black;
}

/* Begin Body Styles */
body {
    background-color: #BDBDBD; 
}
article {
  font-family: Segoe UI Light, Arial, sans-serif;
  font-size: 22px;
  margin: 0.5em; 
  padding: .05em;
  height: 700px;
}            

.bark {
  color: #e20074;
}

.pups {
  display: block;
  padding: 2rem;
}

ul.gatos li { 
  clear: both;
  display:  inline-block;
  color: white;
  padding: 1rem; 
  font-size: 1.25rem;  
}

aside {
  float: right; 
  margin: 0;
  padding: 2rem;
}

/* Begin Footer Styles */

footer {
  display: block;
  clear: both;
  margin: 0;
  padding: .05rem;
  font-size: 30 px; 
  background-image: linear-gradient(black, #838383)
}

ul.infofooter {
  list-style-type: none;
  margin: 0;
  padding: 0.5rem;
  overflow: auto; 
}

ul.infofooter li {
  float: inherit; 
  display: inline-block; 
  color: white;
  padding: 0.5em; 
  font-size: 1.25em; 
}

ul.infofooter li a {
  color: white; 
  text-align: center; 
  padding: 0.25rem; 
  text-decoration: none; 
}

ul.infofooter li a:hover{
  color: #838383;
}

p.footerinfo {
  font-size: 25px;
  text-align: center;
  padding: 0; 
  color: white;
}

</style>