header, footer {
  padding: 1em;
  color: white;
  background-color: black;
  clear: both;  
  text-align: center;
  position: relative; 
  float: none; 
  font-family: 'Bangers', cursive;
}

nav {
    display: block;
    float: left;
    max-width: 160px;
    margin: 0;
    padding: 1em;
}

    body {
        font-family: Segoe, "Segoe UI", "DejaVu Sans", "Trebuchet MS", Verdana, sans-serif;
        font-style: normal; 
        font-size: 16px; 
      }
      
      a {
        color: #e20074;
        }
      
      h1 {
        color: rebeccapurple; 
      }

      h1::first-letter {
        font-size: 125%;
      }

      h2 {
        font-size: 20px; 
        color: rebeccapurple;
      }

      h3  {
        font-size: 14px; 
        color: deepskyblue;
      }

      h3::first-letter {
        font-size: 125%;
      }

      h4  {
        font-size: 12px; 
        color: black;
      }

      p  {
        font-size: 14px; 
        color: black; 
      }
      
      li  {
        list-style-type: square;
        font-size: 16px;
        color: navy;
      }
    
      article {
        font-style: normal; 
        font-size: 16px; 
        width: 980px; 
      }
            
      footer {
        color: #E20074;
        font-style: italic; 
        font-size: 14px; 
      }
    </style>